.loaderContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 200px;
}

.loader {
  width: 150px;
  animation-name: loader;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
