.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 640px;
  margin: 0 auto;
}

.number {
  align-self: center;
}

.ingredientsList {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 24px;
  max-height: 312px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ingredientsList::-webkit-scrollbar {
  width: 8px;
}

.ingredientsList::-webkit-scrollbar-track {
  background-color: #131316;
}

.ingredientsList::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.ingredientContainer {
  display: flex;
  align-items: center;
}

.pictureContainer {
  padding: 0;
  margin-left: -16px;
  list-style-type: none;
  position: relative;
  display: flex;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(to right, #801ab2, #4c4cff);
}

.pictureContainer::before {
  content: "";
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: #131316;
}

.picture {
  max-height: 56px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.priceContainer {
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
}
