.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 272px;
}

.price {
  display: flex;
  gap: 8px;
}

.description {
  text-align: center;
}

.cardContainer {
  text-decoration: none;
  color: #f2f2f3;
}
