.orderTape {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 584px;
  max-height: 950px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 8px;
}

.orderTape::-webkit-scrollbar {
  width: 8px;
}

.orderTape::-webkit-scrollbar-track {
  background-color: #131316;
}

.orderTape::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.title {
}

.page {
  max-width: 1240px;
  margin: 0 auto;
}

.sections {
  display: flex;
  gap: 60px;
}

.orderTable {
  min-width: 580px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.orderInfoContainer {
  display: flex;
  justify-content: flex-start;
  gap: 36px;
}

.orderInfo {
  display: flex;
  flex-direction: column;
  min-width: 272px;
  gap: 24px;
}

.orderTitle {
}

.listItem {
}

.orderList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
  max-height: 170px;
}

.activeList {
  color: #00cccc;
}

.doneContainer {
  display: flex;
  flex-direction: column;
}

.digits {
  text-shadow: 0 0 20px rgba(24, 24, 179, 0.726);
}
