.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 272px;
}

.price {
  display: flex;
  gap: 8px;
}

.description {
  text-align: center;
}
