.section {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 600px;
  max-height: 912px;
  overflow-y: auto;
  overflow-x: hidden;
}

.section::-webkit-scrollbar {
  width: 8px;
}

.section::-webkit-scrollbar-track {
  background-color: #131316;
}

.section::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.ingridientList {
  padding: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:16px;
}

.ingridient {
  width: 100%
}
